
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

button {
  color: black;
  background: white;
  transition: transform 1s;
  transform: translateX(0) scale(0.5);
}

button:hover,
button:focus {
  background: white;
  transform: translateX(10px) scale(1.2);
  
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
}

.features {
    padding: 50px 0;
    background-color: #fff;
}

.features .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature {
    background-color: #f4f4f4;
    padding: 20px;
    flex: 1;
    text-align: center;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
